.bg-blue-800 {
  background-color: var(--blue-800);
}

.text-blue-800 {
  color: var(--blue-800);
}

.text-grey-600 {
  color: var(--grey-600);
}

.bg-grey-600 {
  background-color: var(--grey-600);
}
