.md-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.md-2_25 {
  margin-bottom: 2.25rem;
}

.mt-2_25 {
  margin-top: 2.25rem;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mt-6 {
  margin-top: 6rem;
}

.mx-10p {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.w-300 {
  width: 300px;
}

.w-30 {
  width: 30rem;
}

.w-10p {
  width: 10%;
}

.h-2 {
  height: 2rem;
}

.h-12 {
  height: 12rem;
}

.h-10 {
  height: 10rem;
}

.h-2_25 {
  height: 2.25rem;
}

.h-10vw {
  height: 10vw;
}

.r-0 {
  right: 0;
}

.t-50p {
  top: 50%;
}

.t-40p {
  top: 40%;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.fg-100 {
  flex-grow: 100;
}
