.md-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.md-2_25 {
  margin-bottom: 2.25rem;
}

.mt-2_25 {
  margin-top: 2.25rem;
}

.w-300 {
  width: 300px;
}

.h-2 {
  height: 2rem;
}

.h-2_25 {
  height: 2.25rem;
}
