.fw-bold {
  font-weight: bold;
}

.fw-500 {
  font-weight: 500;
}

.fw-300 {
  font-weight: 300;
}

.fs-3_125 {
  font-size: 3.125rem;
}

.fs-2_500 {
  font-size: 2.5rem;
}

.fs-1_500 {
  font-size: 1.5rem;
}

.fs-xs {
  font-size: x-small;
}

.fs-s {
  font-size: small;
}

.fs-m {
  font-size: medium;
}

.fs-l {
  font-size: large;
}

.fs-xl {
  font-size: x-large;
}

.fs-2 {
  font-size: 2rem;
}

.lh-1_875 {
  line-height: 1.875rem;
}
