:root {
  --primary-color: #111b47;
  --secondary-color: #c2cfe0;
  --white: #fff;
  --black: #000;
  --grey: #b5b5b5;
  --green: #68d083;
  --yellow: #ebb840;
  --orange: #e6642e;
  --magenta: #bb6bd9;
  --brown: #a52a2a;
  --red: #ff3939;
  --blue-100: #f7faff;
  --blue-200: #deedf7;
  --blue-300: #b3d2ff;
  --blue-400: #419ceb;
  --blue-500: #109cf1;
  --blue-600: #0b7dc2;
  --blue-700: #305fa1;
  --blue-800: #002253;
  --blue-900: #192a3e;
  --blue-grey-200: #eceff2;
  --blue-grey-300: #dee2e6;
  --blue-grey-400: #ccdaee;
  --blue-grey-500: #c2cfe0;
  --blue-grey-600: #90a0b7;
  --blue-grey-700: #6a707e;
  --blue-grey-800: #41525c;
  --grey-200: #f3f3f3;
  --grey-300: #e5e5e5;
  --grey-400: #c4c4c4;
  --grey-500: --grey;
  --grey-600: #979797;
  --grey-700: #828282;
  --grey-800: #666;
  --grey-900: #212121;
  --green-100: #e9f8ed;
  --green-500: var(--green);
  --green-600: #2ed47a;
  --green-700: #509c64;
  --yellow-400: #f2c94c;
  --yellow-500: var(--yellow);
  --red-100: #fbe8e0;
  --red-200: #fff2e8;
  --red-300: #f1e0d5;
  --red-400: #ff8b5b;
  --red-500: var(--red);
  --red-600: #ff783e;
  --red-700: #fa541c;
  --orange-500: var(--orange);
  --bg-overlay: rgba(var(--black), 0.4);
  --border-white-40: #e5e5e540;
  --background-light: rgba(194, 207, 224, 0.1);
}
